<html>
<head>
  <style>
    table {
      border-collapse: collapse;
      /*width: 100%;
      height: 100%;*/
    }
    th {
      width: 128px;
    }
    td {
      height: 128px;
      width: 128px;
      text-align: center;
      color: white;
      border: 1px solid white;
      border-spacing: 0;
     }
     h2 {
       color: white;
     }
  </style>
</head>
<body>

<h2>Game <%= @game.id %></h2>

<div>
  <table>
    <% @sqrt.times do |lat| %>
      <tr>
        <% @sqrt.times do |long| %>
          <td>
            <% @location = @game.locations.find_by(lat: lat+1, long: long+1) %>
            <% if @location.mycorrhiza %>
              <%= image_tag("mushroom1.png", :alt => "mushroom") %><br>
            <% end %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </table>
</div>
</body>
</html>
