<html>
<head>
</head>
<body>

<h2>Game <%= @game.id %></h2>

<div>
  <table>
    <% @sqrt.times do |lat| %>
      <tr>
        <% @sqrt.times do |long| %>
          <td>
            <% @location = @game.locations.find_by(lat: lat+1, long: long+1) %>
            <%= @location.id %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </table>
</div>
</body>
</html>
